@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./torchlight.scss";
@import "./animations.scss";

@layer utilities {
    .soft-scrollbar::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        cursor: pointer;
    }

    .soft-scrollbar::-webkit-scrollbar-track {
        background-color: rgba(211, 211, 211, 0.808);
        cursor: pointer;
    }

    .soft-scrollbar::-webkit-scrollbar-thumb {
        cursor: pointer;
        background-color: #a0aec0;
    }

    .soft-scrollbar-width-2::-webkit-scrollbar {
        width: 7px !important;
        height: 7px !important;
        cursor: pointer;
    }
}
